    .caixa-principal{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 0;
    background-color: #FAFAFA;;
    width: 1366px;
    position: relative;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    
}

/*manipulando barra inicial*/

.barra-inicial{
    display: flex;
    text-align: center;
    justify-content: left;   
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 54px;
    width: 1374px;
    background-color:#ffffff;
    z-index: 3;
    
}

    /*primeira parte, logos do insta*/
    .barra-inicial-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        width: 140px;
        margin-left: 221px;
        margin-right: 214px;

    }

    .barra-inicial-logo-nome-instagram{
        height: 29px;
    }

    .barra-inicial-logo-separacao{
        width: 1px;
        height: 29px;
        background-color: #DBDBDB;
    }

    .barra-inicial-logo-logo-instagram{
        
        height: 22px;
        width: 22px;
    }

    /*segunda parte, barra pesquisar*/

    .barra-inicial-pesquisar{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        margin-right: 212px;
    }

        .barra-inicial-pesquisar-pesquisar{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FAFAFA;
            height: 28px;
            width: 215px;
            border-radius: 3%;
            color: #DBDBDB;
        }

    /*última parte da barra inicial: emojis*/
    .barra-inicial-emojis{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 216px;
    }

        .barra-inicial-emojis ion-icon{
           
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }

 
/*barra de status*/
.barra-status{
    display: flex;
    flex-wrap: nowrap;
    justify-content:left;
    align-items: center;
    margin-top: 88px;
    height: 118px;
    width: 614px;
    margin-left: 216px;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;

}

    .barra-status-caixa{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin: 13px;
    }

        .barra-status-caixa-foto{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 56px;
            height: 56px;
            
        }

            .background-status{
                position: absolute;
                width: 58px;
                height: 58px;
                border-radius: 100%;
            }

            .imagem-status{
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                z-index: 1;
            }

        .barra-status-caixa p{
            font-size: 12px;
            font-weight: 14.06px;
            margin-top: 7px;
            color: #262626;
        }

    .barra-status ion-icon{
        position: absolute;
        right:  10px;
        z-index: 2;
        width: 32px;
        height: 32px;
        background-color: #FAFAFA;
       border-radius: 100%; 
    }


/*Publicações*/
.caixa-publicacao{
    width: 614px;
    height: 749px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: 24px;
    margin-bottom: 36px;
    margin-left: 216px;

}

    .caixa-publicacao-foto-nome-ponto{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;


    }
        .caixa-publicacao-foto-nome{
            display: flex;   
            align-items: center;
            justify-content: center;
        }

            .caixa-publicacao-foto-nome img {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                margin-right: 20px;
            }
        
        .caixa-publicacao img:nth-child(2){
            width: 612px;
            height: 612px;
        }

    .curtir-comentar-enviar-salvar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;   
        margin-left: 20px;
        margin-right: 20px;
    }

        .curtir-comentar-enviar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80px;

        }

        .curtir-comentar-enviar-salvar ion-icon{
            width: 22px;
            height: 22px;
        }

    .curtido-por{
        display: flex;
        align-items: center;
        justify-content: left;   
        margin-left: 20px;    
        margin-top: 10px;
    }
        .curtido-por img{
            width: 20px;
            height: 20px;
            border-radius: 100%;
            margin-right: 5px;
        }

        .curtido-por p{
            font-size: 14px;
            font-weight: 500;
        }

            .curtido-por span{
                font-weight: 700;
            }

/*caixa adicional*/
.caixa-adicional{
    position: absolute;
    width: 273px;
    right: 233px;
    top: 88px;
}

    .caixa-adicional-perfil{
        display: flex;
        align-items: center;
        justify-content: left;
        margin-top: 22px;
    }

    .caixa-adicional-perfil img{
        width: 56px;
        height: 56px;
        border-radius: 100%;
        margin-right: 10px;
       
    }

        .caixa-adicional-perfil-nome-user p{
            font-size: 14px;  
            color: #262626;       

        }

        .caixa-adicional-perfil-nome-user p:nth-child(2){
            color: #8E8E8E;   
            margin-top: 7px;       
        }

        .caixa-adicional-perfil-nome-user span{
            font-weight: bolder;      
                
        }

    .caixa-perfis{
        margin-top: 20px;
        }

        .caixa-adicional-sugestoes p{
            font-size: 12px;
            color: #8E8E8E;
            margin-top: 30px;
        }

        .caixa-adicional-sugestoes span{
            color: #262626;
            margin-left: 112px;
        }

        .caixa-adicional-perfis-indicados{
            margin-bottom: 10px;
        }

        .caixa-adicional-perfis-indicados-perfil{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        
        .caixa-adicional-perfis-indicados img{
            width: 32px;
            height: 32px;
            border-radius: 100%;
        }
        .caixa-adicional-perfis-indicados-perfil-nome{
            display: flex;
            flex-direction: column;
            margin-left: -27px;
        }
        
            .caixa-adicional-perfis-indicados-perfil-nome p{
                color: #262626;
                font-size: 14px;
                margin-bottom: 4px;
            }

            .caixa-adicional-perfis-indicados-perfil-nome span{
                
            }

            .caixa-adicional-perfis-indicados-perfil-nome .segue-voce{
                color: #8E8E8E;
                font-size: 12px;
            }

            .caixa-adicional-perfis-indicados-perfil p:nth-child(3){
                font-size: 12px;
                color: #139EF2;
            }
        
    .caixa-adicional-informacoes p{
        margin-bottom: 18px;
        color: #C7C7C7;
        font-size: 11px;

    }


/*site para a resolução de 935px*/

@media(max-width: 935px) {
    .caixa-adicional{
        display: none;
    }


}